.page-con {
  height: 700px;
}
.card-page-1{
  height: 84%;
  width: 90%;
  border: none;
  border-bottom: 1px solid rgb(212, 208, 208);
}
.card-page {
  height: 75%;
  width: 90%;
  border: none;
  border-bottom: 1px solid rgb(212, 208, 208);

}
.img-page {
  height: 100%;
}
.page-title {
  display: flex;
  justify-content: start;
  margin-left: 5px;
  font-size: 2rem;
  font-weight: 500;
  color: #01b2ee;
}
.page-des {
  height: 50%;
  display: flex;
  justify-content: start;
  font-size: 1.1rem;
  font-weight: 500;

  margin-left: 15px;
  color: gray;
}

.page-price {
  display: flex;
  justify-content: end;
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
}
